* {
  margin: 0;
  padding: 0;
}
body {
  width: 99%;
  margin: auto;
  background-color: #ffecc8;
  font-family: Gabriola;
  position: relative;
}
button.home {
  background-color: #ffadad;
}
button.about {
  background-color: #fdffb6;
}
button.work {
  background-color: #caffbf;
}
header {
  display: flex;
  justify-content: space-between;
}
img.logo {
  height: 50;
  width: 320px;
}
nav {
  margin-top: 20px;
  text-align: center;
  width: 600px;
  height: 50px;
  align-self: flex-start;
}
nav button {
  margin: 0px 20px;
  font-size: 25px;
  padding: 5px 50px;
  border-radius: 50%;
  font-family: Gabriola;
  font-weight: bolder;
  box-shadow: 1px 1px 5px 1px black;
}
nav button:hover {
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.21, 1.04, 0.59, 0.06);
  transform: translateY(-2px);
  box-shadow: 1px 5px 5px 1px black;
}
nav button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 5px 1px black;
}
nav button a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
button.messagebox {
  border: 3px black solid;
  border-radius: 50%;
  padding: 8px 12px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: white;
}
button.messagebox img {
  width: 60px;
}
button.messagebox {
  box-shadow: 1px 1px 5px 1px black;
  z-index: 1;
}
button.messagebox:hover {
  transform: translateY(-2px);
  box-shadow: 1px 5px 5px 1px black;
}
button.messagebox:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 5px 1px black;
}
div.overlay {
  display: none;
}
div.overlay img.close {
  width: 50px;
  padding: 20px;
  position: fixed;
}
div.overlay img.close:hover {
  cursor: pointer;
}
div.close {
  display: flex;
  justify-content: end;
}
div.messagepop {
  background: linear-gradient(to bottom right, #bdb2ff, #ffc6ff);
  border-radius: 50px;
  text-align: center;
  border: 3px solid black;
  width: 350px;
  height: 380px;
  padding: 30px 1px 50px 1px;
  position: fixed;
  top: 20%;
  left: 37%;
  display: none;
}
