.homeContainer {
  margin-top: 60px;
  height: 70vh;
  text-align: center;
}
.myself {
  width: 20rem;
  border: solid 3px black;
  border-radius: 50%;
}

.homeInfo {
  font-size: 2rem;
  line-height: 3.8rem;
}
.homeInfo h1 {
  margin: 20px auto 0px auto;
}
