.MPform {
  background: linear-gradient(to bottom right, #a0c4ff, #9bf6ff);
  border-radius: 50px;
  text-align: center;
  border: 3px solid black;
  width: 400px;
  height: 450px;
  padding: 30px 1px 50px 1px;
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 40%;
  margin: auto;
  display: none;
}
.sendImg{
    width: 40px;
}
.mButton {
  background-color: #3a85ff;
  width: 250px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
  font-family: "Viaoda Libre", cursive;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  margin: 20px auto 0px auto;
  border: 3px black solid;
  box-shadow: 1px 1px 5px 1px black;
}
.mButton:hover {
  transform: translateY(-2px);
  box-shadow: 1px 5px 5px 1px black;
}
.mButton:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 5px 1px black;
}
.MPform input {
  text-align: center;
  width: 250px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 20px;
  font-family: Gabriola;
}
textarea {
  text-align: center;
  width: 250px;
  height: 150px;
  resize: none;
  border-radius: 20px;
  border: 3px black solid;
  border: 3px solid black;
  font-size: 20px;
  font-family: Gabriola;
}
